.main {
  display: flex;
  flex-direction: column;
}

h2 {
  position: absolute;
  top: 139px;
  left: 580px;
}

.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-board {
  position: relative;
  bottom: 50px;
  width: 99px;
  height: 99px;
  background-color: transparent;
}

.button {
  float: left;
  width: 33px;
  height: 33px;
  font-size: 17px;
  font-weight: bold;
  border: 0.3px solid rgb(153, 127, 127);
}